<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">RazorWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li style='@ViewData["profileView"]' class="nav-item d-block d-lg-none">
                <a class="nav-link" asp-page="/SignIn">Sign In</a>
              </li>
              <li style='@ViewData["profileView"]' class="nav-item d-block d-lg-none">
                <a class="nav-link" asp-page="/SignUp">Sign Up</a>
              </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex">
          <div style='@ViewData["signView"]' class="d-none d-lg-flex mt-3 mt-lg-0 navbar-side align-items-center">
            <div class="dropdown user-dropdown">
              <div class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="user-dropdown-avatar">
                  @* <img src="~/assets/images/user.jpg?1222259157.415" alt="" /> *@
                  <img src=@Model.PhotoUrl alt="" />
                 </div>
                <div class="user-dropdown-info">
                  <h3>@ViewData["FullName"]</h3>
                  <p>@Model.Email</p>
                </div>
              </div>
              <div class="dropdown-menu">
                <div class="user-info">
                  <div class="user-dropdown-avatar">
                    @* <img src="~/assets/images/user.jpg?1222259157.415" alt="" /> *@
                    <img src=@Model.PhotoUrl alt="" />
                  </div>
                  <div class="user-dropdown-info">
                    <h3>@ViewData["FullName"]</h3>
                    <p>@Model.Name_AR</p>
                  </div>
                </div>
                <ul>
                  <li><a asp-page="Index" asp-page-handler="Logout">Sign Out</a></li>
                </ul>
              </div>
            </div>
          </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RazorWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>